body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(logo.JPEG);
  background-repeat: no-repeat;
  background-size: 100% 130%;
}

*{
  box-sizing: border-box;
}

/* style the container */
.container {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 



/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}
button,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

button:hover,
.btn:hover {
  opacity: 1;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
button[type=button] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button[type=button]:hover {
  background-color: #45a049;
}
/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin-left: 0%;
  padding: 0 50px;
  margin-top: 6px;
}

.user {
  float: top;
  width: 50%;
  margin-left: 50%;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  margin-right: 10%;
  margin-left: 10%;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 50%;
    margin-top: 0;
  }
  .vl {
    display: none;
  }
}
.bar{
  text-align: center;
}

.logo{
  float: left;
  margin-left: 20%;
}